<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Bienvenue Sur iSantePlus Mobile</h2>
    <p>Isanteplus mobile est une version mobile d'IsantePlus - système de dossiers médicaux Développé à partir de OpenMRS en Haïti.</p>
  </ion-slide>
  <ion-slide>
    <br><br><br><br><br>
    <h2>Pourquoi iSantePlus Mobile</h2>
    <p>Isanteplus mobile couvrira la plupart des fonctionnalités de l'application Web isanteplus, y compris l'enregistrement des patients, la prise de notes de visite, la capture des signes vitaux, l’enregistrement des vaccins, etc.
     </p>
  </ion-slide>
  <ion-slide>
    <br><br><br><br><br>
    <h2>CHARESS</h2>
    <p>Cette version sera évoluée dans le but de satisfaire les besoins des prestataires de soin.</p>
  </ion-slide>
</ion-slides>
