.loginBtn{
  background-color: #363463;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}
.loginBtn:hover{
  background-color: #8EB82A;
}
ion-header{
  background-color: #718BB7;
  color: white;
}
h1{
  font-size: small;
}

form{
  font-size: small;
}


.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.ion-content{
  background-color: white;

}


#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-40%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

