<ion-header text-center>
    <ion-toolbar color="segundary" style="height: 50px; margin-top: 0px; padding-top: 0px">

        <ion-buttons>
            <ion-menu-button style=" height: 20px;" menu="main-menu"><ion-icon name="menu"></ion-icon></ion-menu-button>
            <ion-title style="font-size: 18px">iSantéPlus</ion-title>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" padding>
    <br/>
    <div class="container" >
        <div class="row">
          <div class="col" routerLink="/home/recherche">
           
            <div class="bg-image hover-overlay ripple">
                <img src="assets/images/recherche.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                </a>
              </div>
            



          </div>
          <div class="col" routerLink="/home/recherche">
            
            <div class="bg-image hover-overlay ripple">
                <img src="assets/images/vitaux2.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                </a>
              </div>


          </div>
        
        </div>

        <div class="row">
            <div class="col"  routerLink="/home/patient">
              
                <div class="bg-image hover-overlay ripple">
                    <img src="assets/images/patient.png" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                    </a>
                  </div>


            </div>
            <div class="col" routerLink="/home/rapport">
              
                <div class="bg-image hover-overlay ripple">
                    <img src="assets/images/rapport.png" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                    </a>
                  </div>


            </div>
          
          </div>
          <div class="row">
            <div class="col" >
              
                
                <div class="bg-image hover-overlay ripple">
                    <img src="assets/images/setup.png" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                    </a>
                  </div>


            </div>
            <div class="col" >
              
              


            </div>
          
          </div>
      </div>
    <!-- <br>

       <div align="center">

        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <div routerLink="/home/recherche">
                    <img class="imageSize" style="width: 160px; height: 100px;" src="assets/images/recherche.png">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div routerLink="/home/recherche">
                    <img class="imageSize" style="width: 160px; height: 100px;" src="assets/images/vitaux2.png">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div routerLink="/home/patient" >
                    <img  class="imageSize"style="width: 160px; height: 100px;" src="assets/images/patient.png">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div routerLink="/home/rapport">
                    <img class="imageSize" style="width: 160px; height: 100px;" src="assets/images/rapport.png">
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <img class="imageSize" style="width: 160px; height: 100px;" src="assets/images/setup.png">
                </div>
            </mat-grid-tile>
        </mat-grid-list>

    </div> -->


    <!--  <ion-button color="danger"><ion-icon name="layers-outline"></ion-icon>Setup Location</ion-button>-->


</ion-content>
